@import 'variables';
@import 'mixins';

body, html{
    width: 100%;
    height: 100%
}

body{
    position: relative;
}

#root{
    width: 100%;
    min-height: 100%;
}

.navbar#mast-head{
    margin-bottom: 30px;
    background: #3490dc;

    .app-logo{
        width: 180px;

        img{
            width: 100%;
            height: auto;
        }
    }

    .main-navigation{
        @include align_self(flex-end);      

        ul{
            list-style-type: none;
            padding: 0;

            li{
                color: white;

                & > span{
                    cursor: pointer;
                }
            }
        }
    }
}

.login-register{
    position: relative;
    width: 100%;
    height: 100vh;
    @include flex(center, column nowrap, center);

    .form-wrapper{
        @include flex(center, row wrap, flex-start);

        img{
            width: 180px;
            height: auto;
        }

        h3{
            width: 100%;
            text-align: center;
        }
    }

    .login{
        border-right: 2px solid lightgrey;
    }

    .login, .register{
        padding: 10px;
        width: 50%;
        @include flex(center, column nowrap, center);
        margin-bottom: 20px;
        box-sizing: border-box;

        .form-row{
            @include flex(center, column nowrap, center);
            margin-bottom: 10px;
            width: 100%;

            input{
                width: 100%;
                padding: 5px;
                box-sizing: border-box;
            }
        }
    }
}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include flex(center, column nowrap, center);
    border: 50px solid grey;
    box-sizing: border-box;
    z-index: 999;
    background: white;

    .close-form{
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
    }
}

.event-form{
    width: 50%;

    .form-row{
        width: 100%;
        margin-bottom: 15px;
        .form-col{
            width: 100%;
            @include flex(flex-start, column nowrap, flex-start);

            input, textarea, select{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}

.list{
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
    @include flex(flex-start, row wrap, flex-start);

    &__item{
        width: 24%;
        margin-right: 1.3%;
        margin-bottom: 10px;

        &:nth-child(4n){
            margin-right: 0;
        }
    }
}

.event-card{
    width: 100%;
    @include flex(flex-start, column nowrap, center);
    padding: 5px;
    box-sizing: border-box;
    cursor:pointer;
    position: relative;

    & > *{
        margin-bottom: 10px;
    }

    .event{
        &-image{
            width: 100%;
            height: 250px;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &-meta{
            @include flex(space-between, row wrap, center);
            position: absolute;
            top:0;
            left:0;
            padding: 5px;
            box-sizing: border-box;
            width: 100%;

            &.twentynine{
                background: red;
            }

            &.thirty{
                background: orange;
            }

            &.thirtyone{
                background: lightseagreen;
            }

            &.one{
                background: teal;
            }

            span{
                color: white;
                font-weight: bold;
                font-size: 12px;
            }
        }

        &-footer{
            @include flex(space-between, row wrap, center);
            padding: 5px;
            box-sizing: border-box;
            width: 100%;

            span{
                font-size: 12px;
            }
        }

        &-info{
            width: 100%;
            p{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.item-detail, .item-edit{
    @include flex(flex-start, row wrap, flex-start);
    width: 100%;
    position: relative;
    height: 100%;

    .item{
        &-image, &-infos{
            position: relative;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            height:100%;
        }

        &-image{
            @include flex(center, column nowrap, center);
            img{
                width: auto;
                height: 100%;
            }
        }

        &-infos{
            overflow-y: scroll;

            table{
                width: 100%;

                tbody, tr{
                    width: 100%;
                }

                tr{
                    td{
                        padding: 20px 10px;
                        box-sizing: border-box;
                    }
                    &:nth-child(odd){
                        background: #ededed
                    }
                }
            }
        }
    }
}

.item-edit{
    .item{
        &-infos{
            table{
                tr{
                    @include flex(flex-start, row wrap, center);
                    td{
                        @include flex(flex-start, row wrap, center);

                        input, textarea, select{
                            width: 100%;
                        }
                    }
                }

                tr:not(.actions){
                    td{
                        width: 100%;
                    }
                }
            }
        }
    }
}

.list-actions{
    @include flex(space-between, row wrap, center);

    .sorter{
        & > span{
            margin-right: 10px;
        }
    }

    select{
        padding: 8px;
        box-sizing: border-box;
    }
}

@media(max-width: 680px){
    @import 'media/_680';
}