/* Mixins */

@mixin transition($property){
    transition: $property;
    -webkit-transition: $property;
    -moz-transition: $property;
  }
  
  @mixin margin_reset($property){
    margin: $property;
  }
  
  @mixin reset_position($property){
    top: $property;
    right: $property;
    bottom: $property;
    left: $property;
  }
  
  @mixin display_flex{
    display:flex!important;
    display:-webkit-flex!important;
    display:-moz-flex!important;
  }
  
  @mixin justify_content($property){
    justify-content: $property;
    -moz-justify-content: $property;
    -webkit-justify-content: $property;
  }
  
  @mixin flex_flow($property){
    flex-flow: $property;
    -moz-flex-flow: $property;
    -webkit-flex-flow: $property;
  }
  
  @mixin align_items($property){
    align-items: $property;
    -moz-align-items: $property;
    -webkit-align-items: $property;
  }
  
  @mixin align_self($property){
    align-self: $property;
    -moz-align-self: $property;
    -webkit-align-self: $property;
  }
  
  @mixin border_radius($property){
    border-radius: $property;
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
  }
  
  @mixin anchor_after($color, $height){
    position: relative;
  
    &::after{
      content: '';
      position:absolute;
      width: 0%;
      height: $height;
      background-color: $color;
      bottom:-2px;
      left:0;
      z-index: 2;
      @include transition(.4s ease);
    }
  
    &:hover{
      text-decoration: none;
      color: $color;
      &::after{
        width: 100%;
      }
    }
  }
  
  @mixin transform($property){
    transform: $property;
    -moz-transform: $property;
    -webkit-transform: $property;
  }
  
  @mixin transform_origin($property){
    transform-origin: $property;
    -moz-transform-origin: $property;
    -webkit-transform-origin: $property;
    -ms-transform-origin: $property;
  }
  
  @mixin reset_pseudos{
    &::before, &::after{
      display: none!important;
    }
  }
  
  @mixin boxshadow($property){
    -webkit-box-shadow: $property;//0px 0px 10px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: $property;//0px 0px 10px 2px rgba(0,0,0,0.3);
    box-shadow: $property;//0px 0px 10px 2px rgba(0,0,0,0.3);
  }
  
  @mixin columns($cols, $width, $gap){
    columns: $cols;
    column-width: $width;
    column-gap: $gap;
    -moz-columns: $cols;
    -moz-column-width: $width;
    -moz-column-gap: $gap;
    -webkit-columns: $cols;
    -webkit-column-width: $width;
    -webkit-column-gap: $gap;
  }
  
  @mixin flex($justify, $flow, $align){
    @include display_flex;
    @include justify_content($justify);
    @include flex_flow($flow);
    @include align_items($align);
  }
  
  @mixin filter($property){
    filter: $property;
    -moz-filter: $property;
    -webkit-filter: $property;
  }
  